<!DOCTYPE html>
<html style="background-color: rgba(var(--themecolorrgba, 38, 125, 244), 0.05);">

{{- partial "head.html" . -}}

<body class="stretched">

    <!-- Document Wrapper
            ============================================= -->
    <div id="wrapper" class="clearfix">
        <div style="background-color: rgba(var(--themecolorrgba, 38, 125, 244), 0.05);">
            {{- partial "header.html" . -}}
        </div>

        <!-- Content
		============================================= -->
        <section id="content">

            <!-- Features
				============================================= -->
            <div class="section  m-0" id="catch">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="display-4 font-weight-semibold ls--2">Oh Ce Cours Académie <br>
                                Pour <span>experts métiers</span>
                        </div>
                        <div class="col-md-5">
                            <img src="/imgs/illustrations/Startup_Monochromatic.svg" alt="Featured Box Image">
                        </div>
                    </div>
                </div>
            </div>


            <div class="overflow-hidden parallax d-flex align-items-center"
                data-bottom-top="background-position:0px 200px;" data-top-bottom="background-position:0px -400px;"
                style="background-image: url('/imgs/illustrations/Idea_Monochromatic.svg'); background-size: cover; height: 600px; width: 100%;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <h2 class="occ-orange occ-height">
                                Tu n'es pas développeur ! <br>
                                Mais...
                            </h2>

                        </div>
                    </div>
                </div>
            </div>


            <div class="bg-theme-light">
                <div class="shadow-sm hero-features bg-color dark shadow">
                    <div class="row">
                        <div class="col-md-4 mt-3 mt-md-0">
                            <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                                <div class="fbox-icon">
                                    <i class="icon-line-circle-check"></i>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="text-white">Tu dois développer au quotidien ?</h3>
                                    <p class="text-white mb-0">Tu dois manipuler
                                        des programmes, parfois d'en modifier ou d'en écrire. Comment faire quand on n'a
                                        jamais appris ?</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3 mt-md-0">
                            <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                                <div class="fbox-icon">
                                    <i class="icon-line-circle-check"></i>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="text-white">Tu dois encadrer des développeurs ?</h3>
                                    <p class="text-white mb-0">Comprends leur métier en pratiquant sur des projets réels
                                        illustrant plusieurs facettes du domaine.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mt-3 mt-md-0">
                            <div class="feature-box fbox-plain fbox-sm fbox-dark mb-0">
                                <div class="fbox-icon">
                                    <i class="icon-line-circle-check"></i>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="text-white">Tu veux gagner du temps ?</h3>
                                    <p class="text-white mb-0">Automatise les tâches du quotidien
                                        (envois d'email, manipulation de fichiers...) et deviens plus
                                        performant dans tes modifications de programme.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="section m-0 pt-md-5 pt-0">
                <div class="container clearfix">
                    <div class="row align-items-md-center mb-5">
                        <div class="col-md-6 pr-5">
                            <div class="heading-block mb-4 border-bottom-0">
                                <div class="before-heading">Au programme</div>
                                <h2 class="nott font-weight-semibold">Découvre la programmation python&nbsp;!</h2>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 mb-4">
                                    <div class="counter color font-weight-semibold">5+</div>
                                    <h5 class="mt-0 font-weight-medium">Bibliothèques utilisées</h5>
                                </div>

                                <div class="col-6 col-sm-6 mb-4">
                                    <div class="counter color font-weight-semibold">12+</div>
                                    <h5 class="mt-0 font-weight-medium">Semaines</h5>
                                </div>

                                <div class="col-6 col-sm-6 mb-4">
                                    <div class="counter color font-weight-semibold">4+</div>
                                    <h5 class="mt-0 font-weight-medium">Projets</h5>
                                </div>

                                <div class="col-6 col-sm-6 mb-4">
                                    <div class="counter color font-weight-semibold">60+</div>
                                    <h5 class="mt-0 font-weight-medium">Heures de code</h5>
                                </div>
                            </div>
                            <p class="text-muted">Voilà ce que tu saura faire en finissant ce programme. Faire évoluer
                                un code ne sera plus de la magie noire.</p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card shadow-sm border-light">
                                <img src="/imgs/illustrations/Report_analysis _Monochromatic.svg" alt="Featured image 1"
                                    class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-semibold color">Génère tes rapports</h5>
                                    <p class="card-text">Tu verra comment créer des fichiers en Excel,
                                        Word ou PDF.</p>
                                </div>
                            </div>
                            <div class="card shadow-sm border-light mt-4">
                                <img src="/imgs/illustrations/Data_analytics_Monochromatic.svg" alt="Featured image 2"
                                    class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-semibold color">Analyse tes données</h5>
                                    <p class="card-text">Récupère tes données stockées dans une base, des fichiers XML,
                                        CSV ou JSON pour les manipuler.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pl-sm-3 mt-3 mt-sm-0">
                            <div class="card shadow-sm border-light">
                                <img src="/imgs/illustrations/Sending_emails_Monochromatic.svg" alt="Featured image 3"
                                    class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title font-weight-semibold color">Automatise ton quotidien</h5>
                                    <p class="card-text">Envoie des mails ou des tweets planifiés depuis ton langage
                                        préféré.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section  m-0" id="contenu" style="background-color: #bfd5dbab">
                {{ partial "academies/contents.html" . }}
            </div>

            <div class="section bg-transparent m-0" id="experts">
                {{ partial "academies/experts.html" . }}
            </div>

            <div class="section m-0" style="background-color: #bfd5dbab" id="temoignages">
                {{ partial "academies/testimonials.html" . }}
            </div>

            <div class="section bg-transparent" id="offres">
                {{ partial "academies/pricing_mensuel.html" . }}
            </div>
        </section>



    </div>
    {{- partial "footer.html" . -}}
    {{- partial "script.html" . -}}
    </div>
</body>

</html>