<div class="col-lg-4 col-md-6 bottommargin-sm">
    <div class="feature-box media-box fbox-bg">
        <div class="fbox-media">
            <a><img src="{{ .Params.image }}" alt="{{ .Params.field }} en train de travailler"></a>
        </div>
        <div class="fbox-content border-0">
            <h3 class="nott ls0 font-weight-semibold">
                Pour {{ .Params.field }} <span class="subtitle ls0">{{ .Content}}</span></h3>
            <a href="{{ .RelPermalink }}" class="button button-rounded ml-3 d-sm-block occ-cta-program">C'est
                moi !</a>
        </div>
    </div>
</div>