<div class="container clearfix">
    <div class="container clearfix">

        <div class="heading-block center">
            <h2>Les contenus de l'Académie</h2>
            <span>Avec ton abonnement, tu accèdes aux ressources (en français !) nécessaires à ta
                progression.</span>
            <span>Des concepts équivalents existent en anglais, c'est évident, notre force est de
                proposer
                une communauté avec laquelle tu peux t'exprimer dans ta langue maternelle.</span>
        </div>


        <div class="row col-mb-50">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-box occ-feature box-orange fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <a><i class="icon-code i-alt"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3 class="occ-green">Code en ligne</h3>
                        <p>Pas besoin de configurer ton ordinateur pour commencer. Utilise notre
                            plateforme
                            et regarde ta progression. </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-box occ-feature box-orange fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <a><i class="icon-brain i-alt"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3 class="occ-green">Travaille sur des projets concrets</h3>
                        <p>Nous ne nous limitons pas aux projets simplistes, apprends à utiliser
                            Python
                            dans
                            toute sa complexité.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-box occ-feature box-orange fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <a><i class="icon-database i-alt"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3 class="occ-green">Profite de la base de connaissances</h3>
                        <p>En plus de notre blog, tu peux accéder à la base de connaissance de
                            l'Académie,
                            en vidéo.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-box occ-feature box-orange fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <a><i class="icon-slack i-alt"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3 class="occ-green">Accède au Slack privé de l'Académie</h3>
                        <p>Échange avec les autres participants sur tes problématiques au quotidien.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-box occ-feature box-orange fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <a><i class="icon-users i-alt"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3 class="occ-green">Session d'accompagnement en live</h3>
                        <p>Tous les mois échange sur Zoom avec ta promotion et les experts de
                            l'Académie
                            pour partager ta progression.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="feature-box occ-feature box-orange fbox-border fbox-effect">
                    <div class="fbox-icon">
                        <a><i class="icon-question i-alt"></i></a>
                    </div>
                    <div class="fbox-content">
                        <h3 class="occ-green">Pose nous tes questions</h3>
                        <p>Tu as une question ? Nous avons des réponses ! Nous répondons en vidéo
                            chaque
                            semaine aux questions que nous recevons.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>