<div class="container clearfix">

    <div class="heading-block center">
        <h2>Inscription -- Deviens <em>Sauveteur</em></h2>
        <span>Nous te proposons un exercice gratuit pour voir si le concept te plaît.</span>
    </div>

    <div class="row pricing col-mb-30 mb-4" style="display: flex; align-items: center; justify-content: center;">

        <div class="col-md-6 col-lg-4">

            <div class="pricing-box box-orange pricing-simple px-5 py-4 bg-light text-center text-md-left">
                <div class="pricing-title">
                    <span class="occ-orange">Essaie maintenant</span>
                    <h3>Parcours Autonome</h3>
                </div>
                <div class="pricing-price">
                    99<span class="price-unit">€</span><span class="price-tenure"> / 12 semaines </span>
                </div>
                <div style="min-height:6em;">
                    Pour le prix d'un café par jour, tu progresses en Python.
                </div>

                <div class="pricing-features">
                    <ul class="iconlist">
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Exercices</strong> de
                            qualité
                        </li>
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Commences</strong>
                            quand tu veux
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Progression</strong>
                            adaptée</li>
                        <li><i class="icon-check text-smaller occ-green"></i> <strong class="occ-green">Accès</strong> à
                            la communauté et à la base de connaissances
                        </li>
                        <li><i class="icon-times text-smaller occ-red"></i> <strong class="occ-red">Système</strong>
                            d'accompagnement
                        </li>
                        <li><i class="icon-times text-smaller occ-red"></i> <strong class="occ-red">Réponses</strong>
                            personnalisées à tes questions
                        </li>


                    </ul>
                </div>
                <div class="pricing-action">
                    <a href="{{ .Site.Params.type_form_academie_inscription_url }}" data-mode="popup"
                        class="btn occ-orange-button btn-lg occ-scale-effect typeform-share button">Je commence</a>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-lg-4">

            <div
                class="pricing-box box-green pricing-simple px-5 py-4 bg-light text-center text-md-left occ-scale-effect">
                <div class="pricing-title">
                    <span class="occ-green">Accompagnement</span>
                    <h3>Parcours Communauté</h3>
                </div>
                <div class="pricing-price">
                    499 <span class="price-unit">€</span><span class="price-tenure"> / 12 semaines</span>
                </div>

                <div style="min-height:6em;">
                    Pour un frappuccino par jour, tu n'es pas seul dans ta progression.
                </div>

                <div class="pricing-features">
                    <ul class="iconlist">
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Exercices</strong> de
                            qualité
                        </li>
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Intégration</strong> à
                            une promotion
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Progression</strong>
                            adaptée
                        <li><i class="icon-check text-smaller occ-green"></i> <strong class="occ-green">Accès</strong> à
                            la
                            communauté
                            et à la base de connaissances</li>
                        </li>
                        <li><i class="icon-check text-smaller occ-green"></i>
                            <strong class="occ-green">1h d'accompagnement</strong> en groupe par semaine
                        </li>
                        <li><i class="icon-check text-smaller occ-green"></i> <strong
                                class="occ-green">Réponses</strong>
                            personnalisées à tes questions
                        </li>
                    </ul>
                </div>
                <div class="pricing-action">
                    <a href="{{ .Site.Params.type_form_academie_inscription_url }}" data-mode="popup"
                        class="btn occ-green-button btn-lg occ-scale-effect typeform-share button">Ça m'intéresse*</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <img data-animate="fadeInRightBig" src="/imgs/illustrations/watering_plant.svg" alt="Arrosage"
                class="fadeInRightBig animated">
        </div>



    </div>

    * Dans le cadre de l'accompagnement et de la notion de "promotion" (au sens académique), nous
    cherchons
    à créer un groupe de 8 personnes maximum partageant des objectifs et un niveau commun. Pour cela,
    nous
    n'ouvrons que quelques sessions par an afin de minimiser ton attente.

</div>