<div class="col-sm-6 col-lg-4">
    <div class="feature-box fbox-center fbox-bg fbox-outline fbox-effect">
        <div class="fbox-icon">
            <a href="{{ .context.Permalink }}"> <i class="{{ .icon }} inline-block"></i>
            </a>
        </div>
        <div class="fbox-content">
            <h3 class="occ-same-size">
                <span class="occ-title-formation" style="display: inline-block;">{{ .context.Title }}</span>
                <span class="subtitle">
                    {{ .context.Params.catchphrase}}
                </span>
            </h3>

            <a href="{{ .context.Permalink }}" style="margin-top: 1em;"
                class="button button-rounded ml-3 d-sm-block">Programme</a>

        </div>
    </div>
</div>