<div class="container">
    <div class="heading-block border-bottom-0 center mx-auto mb-0" style="max-width: 1000px">
        <h3 class="nott ls0 mb-3">Des experts à votre service.</h3>
        <p>Oh Ce Cours est un collectif d'experts en technologie (développeurs, devOps,
            datascientists, et bien d'autres).

            Nous vous aidons à mieux maîtriser votre
            environnement technique.
        </p>
        <p>
            Que ce soit pour faire monter en compétences vos équipes, échanger avec nos experts sur vos projets ou avoir
            un coup de main ponctuel, n'hésitez pas à nous contacter.
        </p>

        <div class="center my-5">
            <img style="max-width: 550px" src="imgs/illustrations/team_meeting.svg" alt="iphone"
                class="rounded  parallax" data-bottom-top="transform: translateY(-30px)"
                data-top-bottom="transform: translateY(30px)">
        </div>

        <p>Nous travaillons avec les plus grands comptes en France et à l'international, comme avec
            des PME et startups.</p>
    </div>
</div>