<div class="heading-block center">
    <h2>Nos références</h2>
    <span style="max-width: 80%;"> Nous travaillons avec les plus grands groupes comme les PME
        et startups, le public et le privé.
    </span>
</div>



<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="100" data-loop="true"
    data-autoplay="5000" data-nav="false" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4"
    data-items-lg="5" data-items-xl="6">
    <div class="oc-item"><a href="#"><img src="/imgs/clients/france_tv.jpg" alt="Brands"></a>
    </div>
    <div class="oc-item"><a href="#"><img src="/imgs/clients/la_poste.jpg" alt="Brands"></a>
    </div>
    <div class="oc-item"><a href="#"><img src="/imgs/clients/orange.jpg" alt="Brands"></a></div>
    <div class="oc-item"><a href="#"><img src="/imgs/clients/sfr.jpg" alt="Brands"></a></div>
    <div class="oc-item"><a href="#"><img src="/imgs/clients/sncf.jpg" alt="Brands"></a></div>
    <div class="oc-item"><a href="#"><img src="/imgs/clients/tf1.jpg" alt="Brands"></a></div>
</div>