<div class="container clearfix">
    <!-- Features colomns
============================================= -->

    <div class="heading-block center">
        <h2>Les experts de vos formations</h2>
        <span style="max-width: 80%;">A l'origine de cette idée se cachent 2
            formateurs experts
            en
            Python et
            passionnés de pédagogie, <em>Matthieu</em> et <em>Yves</em>.
        </span>
    </div>

    <div class="row clearfix">

        <div class="col-sm-12 col-md-6">
            <div class="team">
                <div class="team-image imagescalein">
                    <a><img style="width: 60%;margin: auto;" src="/imgs/experts/matthieu.jpg" alt="John Doe"></a>
                </div>
                <div class="team-desc">
                    <div class="team-title">
                        <h4 class="font-primary font-weight-normal ls2">Matthieu
                            Falce</h4>
                        <span>Expert Python</span>
                    </div>
                    <p>Touche à tout en développement, ce qui m'intéresse le
                        plus c'est de
                        résoudre
                        des problèmes concrets. Je vous accompagner sur mes
                        domaines de
                        prédilections en python : la data science, la
                        <em>dataviz</em> et le
                        développement web.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="team">
                <div class="team-image imagescalein">
                    <a><img src="/imgs/experts/yves.jpg" alt="Yves Duprat" style="width: 60%;margin: auto;"></a>
                </div>
                <div class="team-desc">
                    <div class="team-title">
                        <h4 class="font-primary font-weight-normal ls2">Yves
                            Duprat</h4>
                        <span>Développeur Expert</span>
                    </div>
                    <p>Expert en développement et débugging d'application
                        python, je suis
                        également
                        formateur. Avec plus de 25 ans d'expérience, je peux
                        vous accompagner
                        dans
                        la formation de vos équipes.</p>
                </div>
            </div>
        </div>
    </div>
</div>