<div class="container clearfix">
    <!-- Features colomns
    ============================================= -->

    <div class="heading-block center">
        <h2>Financement</h2>
        <span style="max-width: 80%;">Nous sommes référencés datadock. Nos formations sont donc
            éligibles aux financements de vos OPCOs.
        </span>
    </div>

    <div class="row clearfix">

        <div class="col-12" style="display: flex; align-items: center; justify-content: center;">
            <img style="width: 80%; max-width: 550px;" src="/imgs/logo-datadock.png" alt="Logo Datadock" />
        </div>
    </div>
</div>