<data id="mj-w-res-data" data-token="{{ .Site.Params.mailjet_data_token }}" class="mj-w-data" data-apikey="6tFf"
    data-w-id="HCP" data-lang="fr_FR" data-base="https://app.mailjet.com" data-width="640" data-height="546"
    data-statics="statics"></data>

{{/* <div class="mj-w-button mj-w-btn"
    style="font-family: Ubuntu, Helvetica; color: white; padding: 0 25px; background-color: #f0622b; text-align: center; vertical-align: middle; display: inline-block; border-radius: 3px;"
    data-token="{{ .Site.Params.mailjet_data_token }}">
    <div style="display: table; height: 45px;">
        <div style="display: table-cell; vertical-align: middle;">
            <div class="mj-w-button-content"
                style="font-family:Ubuntu, Helvetica; display: inline-block; text-align: center; font-size: 13px; vertical-align: middle;">
                <b>ABONNEZ-VOUS À LA NEWSLETTER !</b>
            </div>
        </div>
    </div>
</div> */}}