{{ define "main" }}
<section id="slider" class="slider-element slider-parallax min-vh-60 min-vh-md-100 include-header">
    <div class="slider-inner"
        style="background: #FFF url('imgs/illustrations/analytics_process.svg') center center no-repeat; background-size: cover;">

        <div class="vertical-middle slider-element-fade">
            <div class="container py-5">
                <div class="row pt-5">
                    <div class="col-lg-5 col-md-8">
                        <div class="slider-title">
                            <h1>Besoin d'aide&nbsp;?</h1>
                            <h2>Appelez Oh&nbsp;Ce&nbsp;Cours</h2>
                            <p>Notre équipe d'experts en technologie vous aide à mieux appréhender les
                                techniques de développement.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- #slider end -->

<section id="content">
    <div class="content-wrap pt-0 ">
        <div class="section bg-transparent m-0 pb-0">
            {{- partial "elements/about_us.html" . -}}
        </div>

        <div class="section m-0">
            {{- partial "elements/offre.html" -}}
        </div>

        <div class="section bg-transparent m-0 border-bottom">
            {{- partial "elements/clients_formation.html" . -}}
        </div>

        <div class="section  m-0" id="experts">
            {{- partial "elements/experts.html" -}}
        </div>

    </div>
</section>
{{ end }}