{{ $kind := ""}}
{{ $color := ""}}
{{ $prepend_value := "" }}
{{ if eq .kind "email" }}
{{ $kind = "icon-email3"}}
{{ $color = "si-email3"}}

{{ $prepend_value = "mailto:" }}
{{ else if eq .kind "linkedin" }}
{{ $kind = "icon-linkedin"}}
{{ $color = "si-linkedin"}}
{{ else if eq .kind "malt" }}
{{ $kind = "icon-checkbox-checked"}}
{{ $color = "si-smashmag"}}
{{ end }}

<!-- call -->

<a href="{{ $prepend_value }}{{ .value }}" class="social-icon inline-block si-small si-light si-rounded {{ $color }}">
    <i class="{{ $kind }}"></i>
    <i class="{{ $kind }}"></i>
</a>