<div>
    <a href="" class="social-icon inline-block si-small si-light si-rounded si-email3">
        <i class="icon-email3"></i>
        <i class="icon-email3"></i>
    </a>

    <a href="" class="social-icon inline-block si-small si-light si-rounded si-linkedin">
        <i class="icon-linkedin"></i>
        <i class="icon-linkedin"></i>
    </a>

    <a href="" class="social-icon inline-block si-small si-light si-rounded si-smashmag">
        <i class="icon-checkbox-checked"></i>
        <i class="icon-checkbox-checked"></i>
    </a>
</div>