<div class="postcontent col-lg-9">
    {{- partial "formations/content/description.html" . -}}
    {{- partial "formations/content/testimonials.html" . -}}

    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {{- partial "formations/content/infos_pratiques/public.html" . -}}
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {{- partial "formations/content/infos_pratiques/tarifs.html" . -}}
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {{- partial "formations/content/infos_pratiques/duree.html" . -}}
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {{- partial "formations/content/infos_pratiques/objectifs.html" . -}}
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {{- partial "formations/content/infos_pratiques/equilibre.html" . -}}
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            {{- partial "formations/content/infos_pratiques/prerequis.html" . -}}
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            {{- partial "formations/content/formateurs.html" . -}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {{- partial "formations/content/programme.html" . -}}
        </div>
    </div>




</div><!-- .postcontent end -->