{{ with .Params.testimonials }}

{{/* TODO : faire les testimonials */}}

<div class="row">
    <div class="col-10">
        <h2>
            Avis
        </h2>
        <ul class="testimonials-grid grid-1 grid-md-2 grid-lg-3">
            <li class="grid-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Similique fugit repellendus expedita excepturi iure
                            perferendis
                            provident quia eaque. Repellendus, vero numquam?</p>
                        <div class="testi-meta">
                            Steve Jobs
                            <span>Apple Inc.</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="grid-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="images/testimonials/4.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Minus,
                            perspiciatis illum totam dolore deleniti labore.</p>
                        <div class="testi-meta">
                            Jamie Morrison
                            <span>Adobe Inc.</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="grid-item">
                <div class="testimonial">
                    <div class="testi-image">
                        <a href="#"><img src="images/testimonials/8.jpg" alt="Customer Testimonails"></a>
                    </div>
                    <div class="testi-content">
                        <p>Porro dolorem saepe reiciendis nihil minus neque. Ducimus
                            rem
                            necessitatibus repellat laborum nemo quod.</p>
                        <div class="testi-meta">
                            Cyan Ta'eed
                            <span>Tutsplus</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{{ end }}